<table id='statistics'>
  <tr>
    <td>
      <span>El número de preguntas</span>
    </td>
    <td>
      <span><%= numQuestions %></span>
    </td>
  </tr>
  <tr>
    <td>
      <span>El número de comentarios totales</span>
    </td>
    <td>
      <span><%= numComments %></span>
    </td>
  </tr>
  <tr>
    <td>
      <span>El número medio de comentarios por pregunta</span>
    </td>
    <td>
      <span><%= averageCommentsPerQuestions %></span>
    </td>
  </tr>
  <tr>
    <td>
      <span>El número de preguntas sin comentarios</span>
    </td>
    <td>
      <span><%= numQuestionsWithOutCom %></span>
    </td>
  </tr>
  <tr>
    <td>
      <span>El número de preguntas con comentarios</span>
    </td>
    <td>
      <span><%= numQuestionsWithCom %></span>
    </td>
  </tr>
</table>
